[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wordcloud = "*"
pymongo = "*"
seaborn = "*"
environs = "*"
plotly = "*"
streamlit = "*"
tqdm = "*"
networkx = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
